@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
 /* last alteration */
 * {
     margin: 0;
     padding: 0;
 }

:root{
    --primary-color:#6699CC;
    --secondary-color:#4682B4;
    --accent1-color: white; 
    --accent2-color:#46abb4;

    --heading-font:"Poetsen One", sans-serif; /* last alteration too*/
    --paragraph-font:"Poetsen One", sans-serif; /* last alteration too */

    --nav-background-color:#6699CC ;
    --nav-link-color: #4682B4 ;
    --nav-hover-link-color:#87CEEB ;
    --nav-hover-backgraund-color:#000080;
    --tex-color: white;
}

body{
    font-family: var(--heading-font);
    color: var(--accent1-color); /* another alteration */
}

.hero img {
    position: relative;
    width: 100%;
}

nav a {
    text-decoration: none;
}

h1{
color: white;
 position: absolute;
 top: 250px;
 left: 32%;
 padding:  5px 50px;
 opacity: 0.6;
}



article {
    position: absolute;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    top: 400px;
    background-color: var(--accent2-color); /* another alteration */
    padding: 20px;
    box-shadow: 0 0 30px var(--primary-color);
    box-sizing: border-box;
    opacity: 0.8;
    
}


.hero article img {
  background-color: var(#46abb4);
  width: 25%;
  border-color:var(--primary-color) ;
  box-sizing: border-box;

}



.sociallinks {
    display: flex;
    background-color: #46abb4;
    justify-items: center;
    justify-content: space-evenly;

}
.sociallinks a {
    margin: 10px;
} 

.sociallinks img {
    width: 40px;
    
}

footer p {
    background-color: #46abb4;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

footer {
    box-shadow: 0px 2px 2px 0px gray;
}
header {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: #46abb4;
    box-shadow:2px 0px 0px 2px gray;
    height: 60px;
}



header nav a:hover {
    font-size: 2rem;
    color: var(--accent1-color);
}

nav a {
    color: white;
}

header img {
display:flex;
margin: 1px;
padding: 2px;
background-color: #46abb4;
border-radius: 10px;
box-shadow: -3px -3px 2px #000080;
transform: scale(1.1);
}

.teste {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teste img {
    position: relative;
    margin: 15px;
    width: 80%;
    object-fit: contain;
}

.teste img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

figcaption, figure{
    margin-left: 20px;
    font-size: 1rem;
    text-align: center;

}
.history {
    margin: 150px;
    text-align: center;
    padding: 5%;
}
section {
    padding: 25px;
    background-color: var(--accent2-color); /* another alteration */
    box-shadow: 0 0 30px var(--primary-color);
    box-sizing: border-box;
    opacity: 0.8;
}

section h2 {
    font-size: 3rem;
    text-align: center;
    place-items: center;
    color: dodgerblue;
}


p {
    font-size: 1.5rem;
    color: dodgerblue;
}

input {
    margin: 5px;
    padding: 10px;
}

textarea {
    border-top: 5%;
    width: 527px;
    height: 162px;
}

.teste {
    width: 500px;
    height: 10%;
}

button {
    background-color: #4682B4;
    color: white;
    padding: 10px;
    width: 50%;
}

.form-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--accent2-color);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 5%;
    border-radius: 15px;
    box-shadow: 5px 5px 2px 2px rgb(0, 0, 0, 0.5);

} 


.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;  /* Adicionar */
    margin-right: 25px; /* adicionar */
    margin-bottom: 25px;
    margin-top: 10px;

}

iframe {
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: dodgerblue;
}

.employee {
    background-color: whitesmoke;
    margin-left: 25px;  /* Adicionar */
    margin-right: 25px; /* adicionar */

}

.adryanny, .fabrizio, .daniel {
    border-radius: 15px;
    box-shadow: 5px 5px 2px 2px rgb(0, 0, 0, 0.5);
}

main section {
    background-color: whitesmoke;
}

h2 {
    text-align: center;
}

footer p {
    color: white;
}

form h2 {
    color: white;
}

.first-column {
    color: dodgerblue;
    padding: 15px;
}

#companyinfo {
    position: static;
    color: dodgerblue;
    padding:15px ;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
